/*
* Easy Grid
*/


$gutter: 2%;
$spacing: 1em; // this is more for visuals and demos, should be set per project?
$columns: 5 !default;
$total: 100%;


// Grid Container mixin
@mixin grid-container() {
	//clear: both;
	margin-bottom: $spacing;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Grid Item mixin
@mixin grid-item(
	$span: $columns,
	$margin-right: $gutter
) {
$columns: $columns;
// limit span to number of columns
@if ($span > $columns) {
		$span: $columns;
	}
	@include box-sizing(border-box);
	padding: $spacing;
	float: left;
	width: ( ($total - ( ($columns - 1) * $gutter ) ) * ($span/$columns) ) + ( ($span - 1) * $gutter);
	@if ($span != $columns or $span > $columns) {
		margin-right: $margin-right; // @TODO - try changing to margin-left and always hiding first-child
	} @else {
		margin-right: 0;
	}
	margin-bottom: $gutter; // using $gutter instead of $spacing to keep grid items spaced eually sides and bottom
	background: #ededed; // testing
	&:last-of-type {
		margin-right: 0;
		margin-bottom: 0;
	}
}

